/** Let's do this! 🔥 **/

/* || Common || */

:root {
  --brand-color: #3a404e;
  --heading-color: black;
  --text-color: #667085;
  --accent-color: #8e2424;

  --container-width: 80rem;
}

*,
*::before,
*::after {
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

p {
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.88rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.container {
  max-width: min(var(--container-width), 100vw);
  margin: 0 auto;
  padding: 16px 32px;
}

/* || Headings || */

.generic-title {
  color: var(--accent-color);
  font-weight: 600;
}

h1 {
  margin: 0;
  color: var(--brand-color);
  font-size: 1.13rem;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 3.75rem;
}

/* || Buttons || */

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  color: white;
  background: var(--accent-color);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.btn:hover {
  transform: scale(105%);
}

.btn-white {
  color: #667085;
  background-color: white;
}

.btn-white:hover {
  background-color: #e6e6e6;
}

/* || Main Navbar || */

.main-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.main-navbar .nav-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-navbar .brand-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-navbar .brand-link img {
  width: 1.7rem;
  height: auto;
}

.main-navbar .nav-list {
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  color: #667085;
  list-style: none;
}

.main-navbar .nav-list li {
  position: relative;
}

.main-navbar .nav-list a {
  text-decoration: none;
}

.main-navbar .nav-list li::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border: solid 2px var(--accent-color);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.2s, width 0.2s;
}

.main-navbar .nav-list li:hover::after {
  width: 100%;
  opacity: 1;
}

.main-navbar .login-signup-container {
  display: flex;
  gap: 12px;
}

/* || Main Header || */

.main-header {
  display: flex;
  padding: 96px 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.main-header h2 {
  margin-bottom: 10px;
}

.main-header p {
  max-width: 791px;
}

/* || Metrics || */

.metric-section {
  padding-bottom: 96px;
}

.metric-section .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.9rem;
}

.metric-container {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.metric-number {
  margin-bottom: 4px;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 60px;
  line-height: 4.5rem;
}

.metric-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.75rem;
  color: #101828;
}

.metric-container p {
  font-size: 16px;
  line-height: 1.5rem;
}
